
  <div class="container py-5">
      <div data-aos="fade-in" data-aos-offset="20" data-aos-duration="1000" data-aos-easing="ease-in">
        <div class="row text-center">
          <div class="col">
            <h1>Web</h1>
          </div>
        </div>
      </div>
  </div>
  <div class="container py-5">

    <!-- Row 1 -->
    <div class="row justify-content-center justify-content-lg-around mb-4" data-aos="fade-in" data-aos-offset="20" data-aos-duration="1000" data-aos-easing="ease-in">
      <div class="col-md-5 mb-3">
        <div class="card no-border my-2 h-100">
          <div class="my-auto">
              <p class="transparent-title">01.</p>
              <h5 class="card-title">Design</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.o build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
     </div>  
      <div class="col-md-5">
        <div class="card my-2 h-100 no-border">
          <div class="card-body d-flex flex-column">
              <img class="my-auto" src="assets/img/webDesign.jpg" alt="" srcset="">
          </div>
        </div>
     </div>  
    </div>

    <!-- Row 2 -->
    <div class="row justify-content-center justify-content-lg-around  mb-4" data-aos="fade-in" data-aos-offset="20" data-aos-duration="1000" data-aos-delay="300" data-aos-easing="ease-in">
        <div class="col-md-5">
            <div class="card my-2 h-100 no-border">
              <div class="card-body d-flex flex-column">
                  <img class="my-auto" src="assets/img/responsive.jpg" alt="" srcset="">
              </div>
            </div>
         </div>  
      <div class="col-md-5 mb-3">
        <div class="card no-border my-2 h-100">
          <div class="my-auto">
              <p class="transparent-title">02.</p>
              <h5 class="card-title">Développement</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.o build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
     </div>  
    </div>

    <!-- Row 3 -->
    <div class="row justify-content-center justify-content-lg-around mb-4" data-aos="fade-in" data-aos-offset="20" data-aos-duration="1000" data-aos-easing="ease-in">
        <div class="col-md-5 mb-3">
          <div class="card no-border my-2 h-100">
            <div class="my-auto">
                <p class="transparent-title">03.</p>
                <h5 class="card-title">Livraison</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.o build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
       </div>  
        <div class="col-md-5">
          <div class="card my-2 h-100 no-border">
            <div class="card-body d-flex flex-column">
                <img class="my-auto" src="assets/img/webDesign.jpg" alt="" srcset="">
            </div>
          </div>
       </div>  
      </div>


  </div>